@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    /*Paleta de Cores*/
    
    --pageHeaderColor: #0623c1;
    --buttonColor: rgb(50, 50, 248);
    --bodyColor:#f8f8e5d4; 
    --hoverColorInput: rgb(246, 245, 245);
   
}

.conteudoPageHeader{
    height: 30vh;
    padding-bottom: 10px;
    
    background-color: var(--pageHeaderColor);
    background-image: linear-gradient(180deg, #0623c1 0%, #141ba9 50%, #0d0d3e 100%);

    color: white;

    font-weight: bold;

   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formularioTitulo{
    border-style: solid;
    border-color: rgba(48, 9, 245, 0.162);
    border-radius: 20px;
}

.formularioTitulo h1{
    padding: 5px;
    font-weight: bold;
}


.containerGeral{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: antiquewhite;
   
}

.formularioTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.containerFormulario{
    height: 100%;
    width: 60%;
    box-shadow: 
    
    /*Direita*/
    4px 0 4px -2px rgba(0, 0, 0, 0.125),
    /*Esquerda*/
    -4px 0 4px -2px rgba(0, 0, 0, 0.125);
     /*Bottom*/
    
    display: flex;
    justify-content: center;
  
    padding: 3rem;
    background-color: white;
    
   
    
}

.containerInputs{
    width: 52vw;
    
}


.conteudoInputs{
    margin-bottom: 1rem;
    
}

.conteudoInputs input:hover{
    background-color: rgba(246, 243, 243, 0.849);
    background-color: var(--hoverColorInput);
    

}



.conteudoInputs label{
    font-size: 1rem;
    font-weight: bold;
}

.containerTitulo h6{
    font-size: 1rem;
    font-weight: bold;
}

.containerSexoInputs{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    padding-left: 25px;

    border-style: solid;
    border-color: rgba(48, 9, 245, 0.162);
    border-radius: 10px;
     
}

.sexoInput{
    padding: 3px;
}



.habilitarPainel{
    display: flex;
    margin-top: 2rem;
    justify-content: flex-start;
    padding-left: 25px;
    flex-direction: column;
    


}

.containerPainel{
    display: none;
}

textarea:hover{
    background-color: rgba(246, 243, 243, 0.849)
}

.containerBotao{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    
}
.containerBotao button{
    width: 32%;
    border-radius: 1rem;
    padding: 5px;
    
    
}

.tituloExibicao{
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    background-color: var(--buttonColor);
    border-radius: 1rem;

}
.tituloExibicao h4{
    padding: 5px;
}

.containerExibicao{
    display: none;
    margin-top: 1.5rem;
    
    padding: 1rem;
    border-style: solid;
    border-color: black;
    border-radius: 0.4rem;
}

.conteudoExibicao li{
    width: 100%;
}

.containerModal{
  
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    
 

}

#tituloConteudoModal{
    display: flex;
    justify-content: center;
}
#tituloConteudoModal h4{
    padding: 3px;
}

.conteudoModal{
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 1rem;
    
}
.conteudoModal li{
    border-radius: 0.3rem !important;
}

.containerBotaoFechar{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}







   








